/* RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* This can be used to see where the element-boxes are. */
    /*outline: 1px solid lime;*/
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: initial;
}

button {
    font: inherit;
    border: initial;
    outline: initial;
    background-color: initial;
}

input {
    border: initial;
    outline: initial;
    font: inherit;
}

/* APP */

:root {
    --color-background: #39445B;        /* 100% */
    --color-background-75: #39445BBF;   /* 75% */
    --color-background-50: #39445B80;     /* 50% */
    --color-background-30: #39445B4D;   /* 30% */

    --color-foreground: #ECE9E6;       /* 100% */
    --color-foreground-75: #ECE9E6BF;  /* 75% */
    --color-foreground-50: #ECE9E680;       /* 50% */
    --color-foreground-30: #ECE9E64D;       /* 30% */
    --color-foreground-15: #ECE9E626; /* 15% */


    --color-accent: #9F97B8;        /* 100% */
    --color-accent-75: #9F97B8BF;   /* 75% */
    --color-accent-50: #9F97B880;     /* 50% */
    --color-accent-30: #9F97B84D;   /* 30% */
}

body {
    background-color: var(--color-background);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 50px;
    border-bottom: 1px solid var(--color-foreground-30);
    height: 60px;
}

.header a {
    line-height: 0;
}

.logo {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.header-nav {
    display: flex;
    column-gap: 1.5rem;
}

.header-nav a {
    color: var(--color-foreground-75);
    font-size: 1.25rem;
    font-weight: bold;
}

.header-nav a:hover {
    cursor: pointer;
    color: var(--color-foreground);
    transition: 250ms;
}

.header-nav a:focus {
    color: var(--color-foreground);
    transition: 250ms;
}

h1 {
    color: var(--color-foreground);
    padding-bottom: 1rem;
}

p {
    color: var(--color-foreground-75);
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.index-container h1 {
    font-size: 3rem;
    color: var(--color-foreground);
    padding-bottom: 0;
}

.index-container p {
    color: var(--color-foreground-75);
    font-size: 1.5rem;
}

.index-container a {
    color: var(--color-foreground);
    font-size: 2rem;
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    background-color: var(--color-accent-50);
    font-weight: bold;
}

.index-container a:hover {
    background-color: var(--color-accent);
    transform: scale(1.05);
    transition: 250ms;
}

.index-container a:focus {
    background-color: var(--color-accent);
    transform: scale(1.05);
    transition: 250ms;
}

.write-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    padding-right: 12px;
    padding-left: 12px;
}

label {
    display: none;
}

textarea {
    resize: none;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-input {
    background-color: var(--color-foreground-75);
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: 15px ;
    padding: 10px;
}

.form-input:focus {
    background-color: var(--color-foreground);
}

.send {
    padding: 13px 30px;
    border-radius: 25px;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-foreground);
    background: var(--color-accent-50);
    transition: all 0.3s ease;
}

.send:hover {
    cursor: pointer;
    background: var(--color-accent);
    transition: 250ms;
}

.send:focus {
    outline: 3px solid var(--color-accent-75);
    outline-offset: 3px;
}

.quote {
    margin-top: 1.5rem;
    font-style: italic;
    color: var(--color-foreground-50);
}

.stories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 30px;
}

.story-card {
    background-color: var(--color-foreground-30);
    border-radius: 15px;
    padding: 20px;
    width: 60%;
}

.story-card h2 {
    color: var(--color-foreground);
    border-bottom: 1px solid var(--color-foreground);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.story-card p {
    white-space: pre-line;
    font-size: 1.15rem;
    color: var(--color-foreground);
}


.footer {
    margin-top: auto;
    text-align: center;
    padding-bottom: 2rem;
}

small {
    color: var(--color-foreground-75);
}
