<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<th:block th:replace="~{fragments/head :: commonHead('Home')}"></th:block>
<body>
<div class="container">
    <header class="header">
        <a th:href="@{/}">
            <img class="logo" th:src="@{/logo.png}" alt="logo">
        </a>
        <nav class="header-nav">
            <a th:href="@{/stories}">Read</a>
            <a th:href="@{/write}">Write</a>
        </nav>
    </header>

    <main>
        <div class="index-container">
            <h1>Welcome to Stories!</h1>
            <p>Place to tell and read Stories</p>
            <a th:href="@{/stories}">Read Stories</a>
            <a th:href="@{/write}">Write a Story</a>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: commonFooter}"></th:block>
</div>
</body>
</html>