<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<th:block th:replace="~{fragments/head :: commonHead('Stories')}"></th:block>
<body>
<div class="container">
    <header class="header">
        <a th:href="@{/}">
            <img class="logo" th:src="@{/logo.png}" alt="logo">
        </a>
        <nav class="header-nav">
            <a th:href="@{/}">Home</a>
            <a th:href="@{/write}">Write</a>
        </nav>
    </header>

    <main>
        <div class="stories-container">
            <h1>Stories</h1>

            <th:block th:each="story : ${stories}">
                <div class="story-card">
                    <h2 th:text="${story.storyTitle}"></h2>
                    <p th:text="${story.storyText}"></p>
                </div>
            </th:block>

        </div>
    </main>

    <th:block th:replace="~{fragments/footer :: commonFooter}"></th:block>
</div>
</body>
</html>